<%= @portfolio_item.main_image.nil? ? (image_tag 'http://via.placeholder.com/350x200?text=Placeholder') : (image_tag @portfolio_item.main_image) %>

<h1><%= @portfolio_item.title %></h1>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>
<% @portfolio_item.technologies.each do |technology| %>
<p><%= technology.name %></p>
<% end %>
<%= link_to 'Back', portfolios_path %> <span><%= link_to 'Edit', portfolio_edit_path(@portfolio_item) if logged_in?(:site_admin)%></span>
